name: CLITEST 

on:
  push:
    tags:
      - v*

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ilgooz/starport/actions/cli@feat/action
        with:
          args: build --release --release.prefix ${{ env.GITHUB_REF }} -t linux:amd64 -t darwin:amd64
      - uses: softprops/action-gh-release@v1
        with:
          files: release/*
          draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
